<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Liste des produits </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Liste des produits </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-list>
      <ion-row  class="ion-text-center ion-align-items-center">
        <ion-col  size="3">Quantité</ion-col>
        <ion-col  size="5">Nom</ion-col>
        <ion-col size="2">Acheté</ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
      <ion-row  class="ion-text-center ion-align-items-center" *ngFor="let product of products">
        <ion-col  size="3">{{product.quantity}}</ion-col>
        <ion-col  size="5">{{product.name}}</ion-col>
        <ion-col size="2">
          <ion-checkbox (ionChange)="onCheck(product)"  [(ngModel)]="product.checked"></ion-checkbox>
        </ion-col>
        <ion-col size="2">
          <ion-icon size="large"(click)="onDelete(product.id)" name="close-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-card>
  <ion-button routerLink="product-new">Nouveau produit</ion-button>

</ion-content>
