<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rejoindre une liste</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lists" icon="arrow-back" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">list-add</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    
    <form [formGroup]="listForm" (ngSubmit)="addProductList()">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Nom de la liste</ion-label>
            <ion-input aria-label="Code de la liste" type="text" required formControlName="code"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
            <div *ngIf="listForm.invalid">
              <ion-text color="danger">Le code doit comporter 20 caractères.</ion-text>
            </div>
        </ion-col>
      </ion-row>
      <ion-row  class="ion-justify-content-between">
        <ion-col size="4">
          <ion-button (click)="startScan()">Scanner le qr code </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button type="submit" [disabled]="listForm.invalid">Rejoindre</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
 